<!--// nothing more than just html... -->

<!DOCTYPE html>
{{!-- <html class="no-js"> <!--<![endif]--> --}}
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/css/styles.css">                
    </head>
<body>
    <div class='main-content'>
        {{>header}}
        <div class='mid-content'>
            <div class="sidebar-1">
                <a href="#">高级商务翻译</a>
                <a href="#">高级法律翻译</a>
                <a href="#">绿卡移民面试</a>
                <a href="#">网站文字翻译</a>
                <a href="#">科技会议翻译</a>
                <a href="#">电话口译直译</a>                                
                <a href="#">医疗服务翻译</a>
                <a href="#">其他</a>
                <a href="#">关于我们</a>
                <a href="#">联系我们</a>
                <a href="#">在线支付</a>
                {{!-- <a href="about.html">关于我们</a> --}}
            </div>
            <div class='midbar'>
                <form>
                    <input placeholder="location">
                    <button>Search</button>
                </form>
                <p id='msg1'></p>
                <p id='msg2'></p>
                <p>专业英语翻译服务
High Quality Chinese Translation & Interpretation Services in Legal, Business, Technical & Medical Fields.
中英文翻译服务：法律、移民、商务、科技、医疗、教育和其他领域（笔译、口译；国语、粤语）  </p>
                <p>
                    English Chinese Translation Services (by US based Chinese Translators):
                </p>
                <p>* Translate from English to/from Chinese
* Proofreading English/Chinese Translation
* Simplified or Traditional Chinese Translation
* Certified and/or Notarized Translation for:
    * USCIS (Immigration, Green Card, Asylum), Court, Education
    * Birth, Marriage, Degree, Medical or Other Certificates 
* Translate Legal, Finance, Technical, Business, Personal or Medical Documents
* Translate Websites, Marketing Brochures
* By Professional Chinese Translators in the US    
</p>
<p>
    Chinese Mandarin & Cantonese Interpretation Services (California, USA):
Interpret/Translate English/Chinese On-Site or On-the-Phone
Interpret English to/from Mandarin or Cantonese Chinese
Consecutive, Escort or Simultaneous Chinese Interpretation
By Appointment Only, Except Special On-call Services
Primarily Serve San Francisco Bay Area and Sacramento area in California, USA
 About Us:
We are US based Chinese Translators and Mandarin & Cantonese Interpreters led by Michelle You. 
All our primary Translators/Interpreters are American Chinese with rich working experience and high education from top schools in the US and China.
我们的主要英文笔译员、英语口译员都是美籍华裔，中美名牌高校毕业，有在美国学习、工作和生活的丰富经历和多年的翻译经验！
Our Clients:
Businesses
Law Firms
High Tech Companies
California Courts
Schools
Clinics
Hospitals
Banks
Insurance Companies
Government Agencies
Individuals

Areas of Specialization:
English Chinese Legal Translation Interpretation 法律文件翻译、法庭翻译、律师会议口译： 
Translate Contracts, Corporate Minutes, Other Legal Documents, Notarized/Certified Translation, Attorney Client Meetings, Depositions, Court Hearings, Appointments at and Government Agencies, etc.
English Chinese Immigration Translation Interpretation 移民资料翻译、移民绿卡庇护面试口译 ：
Notarized / Certified Translation for Certificates, Green Card or Citizenship Applications, Immigration Records & Statements, Immigration Interviews, etc.
English Chinese Business Translation Interpretation 商务合同资料翻译、国际商务会议及高端谈判口译：
Translate Financial Documents, Marketing, Website, Insurance, Tax, Corporate Documents, HR, Letters, General, Healthcare
English Chinese Technical Translation Interpretation 技术资料及专业网站翻译、技术会议口译：
Software Localization, Website Translation & Localization, Translate for Computer, e-Commerce, Internet, Technology, etc.
English Chinese Medical Translation Interpretation 医疗资料翻译、医疗会诊口译：
Medical Records, General Medical Translation, Health Care, Medicare, Medical Appointments Translation and Interpreting
English Chinese General Translation Interpretation in General Areas 其他文件翻译、各种会议口译：
Translate from English to Chinese, Translate from Chinese to English, Simplified or Traditional Chinese, Mandarin or Cantonese
USCIS Asylum Interview Schedule in California: 移民局政治庇护加州面谈预约最新时间表
</p>
            </div>
            <div class='sidebar-2'>
            </div>            
        </div>        
    </div>
    {{>footer}}
    <script src='/js/app.js'></script>
</body>
</html>