<footer>
    <h4>Footer created by {{name}}</h4>
    <div>
        <p>© Copyright 2020-2021 Bay Area Chinese Translation & Interpretation, Mandarin & Cantonese - 专业英语翻译服务（中英文笔译、口译）.
Certified Translation for Documents, Oral Translation / Interpretation on-Site or on-Phone. 
Specialized Translation in Legal, Immigration, Technology, Business, Web Marketing, Medical, Real Estate in the US.</p>
    </div>
</footer>