body {
    color: #636262;
    font-family: arial;
    /* max-width: 1000px; */
    max-width: 1250px;
    text-align: center;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

.mid-content{
 display: flex;
}

.sidebar-1 {
    flex: 1;
    order: 1;
    background-color: #f1f1f1;
  }
  .midbar {
    flex: 2.5;
    order:2;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    /* background-color: pink */
  }
  .sidebar-2 {
    flex: 0.5;
    order:3;
    background-color: khaki;
  }

  /* Sidebar links */
  .sidebar-1 a {
    font-size: 12px;
    display: block;
    color: gray;
    padding: 3px;
    text-decoration: none;
  }

footer {
 font-size: 12px;
 background-color: rgb(238, 238, 238);
  /* #e4e4e4; */
 padding: 16px 0;
}


header {
    margin-bottom: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 34px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}
 
input {
    border: 1px solid #636262;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #636262;
    background-color: #636262;
    color: white
}
/* body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin: 16px; 
    padding: 16px 0;
    font-size: 16px;
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
}
h1 {
    font-size: 64px; 
    margin-bottom: 16px ;
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

.main-content {
    flex-grow: 1;
}

input {
    border: 2px solid #cccccc;
    padding: 7px;

}

button {
    cursor: pointer;
    border: 1px solid #888888;;
    background-color:#888888;
    color: white;
    padding: 8px;
} */